---
import Layout from "../layouts/DefaultLayout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="GeoSolutions">
	<Hero />

	<About />

	<Services />

	<Team />

	<Contact />

	<!-- Footer -->
	<footer class="footer footer-center p-10 bg-base-200 text-base-content">
		<div>
			<p class="font-bold">GeoSolutions</p>
			<p>
				Our focus is on the private sector market in the communities in and
				around the top of the South Island, New Zealand. (Nelson Tasman)
			</p>
			<p>Copyright © 2022 - All rights reserved</p>
		</div>
	</footer>
</Layout>
