---
import { marked } from "marked";
import { fetchAPI } from "../lib/api.js";
import { aboutDefaults } from "../lib/constants.js";

let content = aboutDefaults.content;

const data = await fetchAPI("about?populate=*");
if (data?.data?.attributes?.content) {
  content = marked.parse(data.data.attributes.content);
}
---

<section
  id="about"
  class="py-16 text-gray-600"
  data-aos="slide-right"
  data-aos-duration="750"
  data-aos-once="true"
>
  <h2 class="text-3xl text-center mb-8">About Us</h2>
  <div class="text-center max-w-2xl mx-auto" set:html={content} />
</section>
