<section
	id="hero"
	class="hero min-h-screen bg-cover bg-center flex items-center justify-center text-center relative"
	style="background-image: url('/images/banner.jpg');"
>
	<div
		class="absolute inset-0 bg-gradient-to-r from-black to-[#182416] opacity-50"
	>
	</div>
	<div
		class="hero-content"
		data-aos="fade-up"
		data-aos-duration="750"
		data-aos-once="true"
	>
		<div
			class="bg-gradient-to-r from-[#6ff0b0] to-[#28e684] p-8 sm:p-10 rounded-xl opacity-95"
		>
			<h1 class="text-5xl font-semibold mb-2 text-gray-700">
				Welcome to <span class="font-extrabold">GeoSolutions</span>
			</h1>
			<h2 class="text-xl mb-6 text-gray-600">Geotechnical Specialists</h2>
			<a
				href="#about"
				class="btn btn-neutral hover:bg-white hover:scale-105 rounded-full border-2 border-primary px-8 text-primary"
				>Get Started</a
			>
		</div>
	</div>
</section>
