<section
	id="hero"
	class="hero min-h-screen bg-gradient-to-r from-[#6ff0b0] to-[#28e684] flex items-center justify-center text-center"
>
	<div
		class="hero-content"
		data-aos="fade-up"
		data-aos-duration="750"
		data-aos-once="true"
	>
		<div>
			<h1 class="text-5xl font-semibold mb-2 text-gray-700">
				Welcome to <span class="font-extrabold">GeoSolutions</span>
			</h1>
			<h2 class="text-xl mb-6 text-gray-600">Geotechnical Specialists</h2>
			<a
				href="#about"
				class="btn btn-neutral hover:bg-white hover:scale-105 rounded-full border-2 border-primary px-8 text-primary"
				>Get Started</a
			>
		</div>
	</div>
</section>
