---
const apiUrl = process.env.PUBLIC_API_URL;
const imageUrl = process.env.PUBLIC_IMAGE_URL;
const response = await fetch(`${apiUrl}/api/teams?populate=image`);
const { data } = await response.json();

const teamMembers = data.map((project) => ({
	id: project.id,
	name: project.attributes.name,
	role: project.attributes.role,
	email: project.attributes.email,
	image: project.attributes.image.data.attributes.url,
}));
---

<section
	id="team"
	class="py-16 flex flex-col items-center px-8 md:px-12 lg:px-20 xl:px-40"
	data-aos="zoom-in"
	data-aos-duration="750"
	data-aos-once="true"
>
	<h2 class="text-3xl font-semibold text-center mb-8 text-gray-600">
		Team Members
	</h2>
	<div class="max-w-screen-lg">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
			{
				teamMembers.map((member) => (
					<div class="card bg-base-100 w-full shadow-xl hover:scale-105 transition-transform duration-300">
						<figure>
							<img src={imageUrl + member.image} alt="Shoes" class="w-full" />
						</figure>

						<div class="card-body">
							<h3 class="card-title">{member.name}</h3>
							<p>{member.role}</p>
							{member.email && (
								<a href={`mailto:` + member.email}>
									<p class="text-sm hover:text-primary">{member.email}</p>
								</a>
							)}
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>
